<h1> Stupid Coaching </h1>
<p>Ask your coach anything:</p>


<form action="/answer" method="get">
  <input type="text" name="question" placeholder="I am going to work">
  <input type="submit">
</form>
